<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis 系统的核心配置文件-->
<configuration>
    <!--   引入resource=“druid.properties文件”-->
<!--    <properties resource="druid.properties">-->
        <!--自定义参数-->
<!--        <property name="key1" value="dev_user"/>-->
<!--    </properties>-->

    <!--    一个配置完整的 settings 元素的示例如下：设置其他请看Api-->
    <settings>
        <!--开启LOG4J日志，-->
        <setting name="logImpl" value="LOG4J"/>
        <!--        是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        局性地开启或关闭所有映射器配置文件中已配置的任何缓存。-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--    类型别名（typeAliases）-->
    <typeAliases>
        <!--        给类别名-->
        <!--        <typeAlias alias="User" type="com.shen.jia.Pojo.User"/>-->
        <!--    如果实体类十分多给包别名 ,(使用的时候直接用类名,(类名第一字符为小写))-->
<!--        <package name="vip.com.Spring_Mybatis_Affairs.oom.User" />-->


    </typeAliases>

<!--    &lt;!&ndash;多环境下更换使用配置 default= "environment中的id名字"> &ndash;&gt;-->
<!--    <environments default="properties">-->
<!--        &lt;!&ndash;环境一 &ndash;&gt;-->
<!--        <environment id="properties">-->
<!--            &lt;!&ndash;事务 &ndash;&gt;-->
<!--            <transactionManager type="JDBC"/>-->
<!--            &lt;!&ndash;数据源&ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash; 数据库链接***参数&ndash;&gt;-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->

<!--    </environments>-->


    <!--    映射器绑定 mapper.xml -->
<!--    <mappers>-->
        <!--        通过xml文件-->
<!--        <mapper resource="vip/com/Mapper/mapper_sql.xml"/>-->

        <!--        通过接口 接口和他的Mapper配置文件必须同名,接口和他的Mapper配置文件必须在同一个包下! -->
        <!--                        <mapper class="vip.com.Mapper.MyBatis_Role_Mapper"></mapper>-->
        <!--        通过包名来扫描  接口和他的Mapper配置文件必须同名,接口和他的Mapper配置文件必须在同一个包下!-->
        <!--                        <package name="vip.com.Mapper"/>-->
        <!--        <mapper class="com.shen.jia.Mapper数据库持久层.UserMapper注解方式"/>-->
<!--    </mappers>-->
</configuration>

